input {
    margin-bottom: 35px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

body {
  background-color: #212529 !important;
  color: white !important;
}

a {
  text-decoration: none !important;
}

.btn {
  padding: 10px 20px !important;
  font-size: 20px !important;
}

.ficanocentroai {
  text-align: center !important;
}

.amanodesceai {
  margin-top: 35px;
}

.btn-outline-success {
  border-color: #4723D9 !important;
  color: #fff !important;
  border-radius: 30px !important;
}

.btn-outline-success:hover {
  background: rgba(63, 65, 99, 0.7) !important;
  border-color: rgba(41, 49, 165, 0.7) !important;
  color: #bd37ee !important;
}