body {
    font-size: 15px !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    src: url('../assets/texts/poppins/Poppins-Medium.ttf') !important;
    background-color: #212529 !important;
<<<<<<< HEAD
    }
    .form-group{
        font-size: 15px !important;
        font-family:Verdana, Geneva, Tahoma, sans-serif !important;
        src: url('../assets/texts/poppins/Poppins-Medium.ttf') !important;
    }
=======
}

.trocarfontekkkkk {
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    src: url('../assets/texts/poppins/Poppins-Medium.ttf') !important;
} 
>>>>>>> 1acd3180c2877a90774b6a04866c324724599259
