a {
  text-decoration: none !important;
}

.ficanocentroai {
  text-align: center !important;
}

.amanodesceai {
  margin-top: 35px;
}

.deixarbrancokk {
    color: white !important;
}

.grafico2 {
    margin-top: 3%;
}

.btn-toolbar{
  gap: 10px;
}

.corbotao{
  color:#fff !important;
  background-image: linear-gradient(360deg, #2f476e, #783d8b) !important;
  border: #64227a !important;
}

.deixandoigual {
  width: 192px;
  height: 29px;
  border-radius: 0px !important;
}

input::placeholder {
  font-size: 15px;
}