a {
  text-decoration: none !important;
}

.ficanocentroai {
  text-align: center !important;
}

.amanodesceai {
  margin-top: 35px;
}

.deixarbrancokk {
    color: white !important;
}

.grafico2 {
    margin-top: 3%;
}

.btn-toolbar{
  gap: 10px;
}

.btn-sm{
color:#fff;
border: #64227a;
}
.footer{
    text-align: left;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    color: rgb(9, 202, 228);
  }
